
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000;
}

.region-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0);
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 8px 24px;
    border-radius: 16px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.header-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.header-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.header-icon.clickable {
    cursor: pointer;
    transition: transform 0.2s;
}

.header-icon.clickable:hover {
    transform: scale(1.5);
}
